{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- A propos
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('blurCss') }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block body %}
	<main class="about">
		<h1 class="about">Qui nous sommes
		</h1>
		<div class="container-about">
			<div class="text">
				<h2>Salut !</h2>
				<p>Nous sommes une équipe de 5 devs-voyageurs.
					                Nous apprécions le bon pain (et le vin) ainsi que les jeux du cirque.
					                C'est pourquoi on a créé ce site.<br/>Bon courage et bon voyage !
				</p>
			</div>
			<span class="devs">
				{% for dev in devs %}
					<span class="dev">
						<a href="#" class="card">
							<img class="dev-ava" src='{{ asset("build/images/photos/" ~ dev.image)}}'/>
						</a>
						<span class="name">{{dev.lastname}}
							{{dev.firstname}}</span>
						<span class="icon-git">
							<a target="_blank" href={{dev.github}} class="svg-background">
								<img class="svg-background" src="{{ asset('build/images/icons/github.png') }}"/>
							</a>
						</span>
						<span class="icon-linkedin">
							<a target="_blank" href={{dev.linkedin}}>
								<img class="svg-background" src="{{ asset('build/images/icons/linkedin.png') }}"/>
							</a>
						</span>
					</span>
				{% endfor %}
			</span>
		</div>
	</div>
</main>{% endblock %}
