{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
<main class="main-login">
<form class="form-login-main" method="post">
    <div class="form-login">
    {% if error %}
        <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="">
            Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="title-form">Connecte-toi</h1>
    
        <label for="inputEmail" class="label-login">Ton mail</Table></label>
   
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    
        <label for="inputPassword" class="label-login">Ton mot de passe</label>
    
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="btn-login">
    <button type="submit" class="btn">
        Connexion
    </button>
    <button class="btn">
        <a href="{{ path('app_register') }}" class="a-login">Inscription</a>
    </button>
    </div>
    </div>
</form>
</main>
{% endblock %}
