{% extends 'layout.html.twig' %}
{% import "Announcement/form.html.twig" as form %}

{% block title %}
	{{ parent() }}
	- Ajouter un GooDeal
{% endblock %}

{% block content %}
<main>
	<div class="form-add">
		<div class="overlay">
			<h1 class="txt-form">Dépose ton GooDeal</h1>
			<form class="form-add" method="post" enctype="multipart/form-data">{# action="/addGoodeal/add" #}
				{{ form.input("deal-name","Nom de ton deal*", "text", "deal-name", "deal-name", errors.title, "nom du deal", data.title) }}
				{{ form.input("lastname","Ton nom*", "text", "lastname", "lastname", errors.lastname, "ex: juste", data.lastname) }}
				{{ form.input("firstname", "Ton prénom*", "text", "firstname", "firstname", errors.firstname, "ex: axel", data.firstname) }}
				{{ form.selectCategory("category","Choisis ta catégorie*", "category", "category") }}
				{{ form.input("address","Nom et Numéro de rue du goodeal*", "text", "address", "address", errors.address, "ex: 14 bis Route Nationale", data.address) }}
				<label for="region">Région du goodeal*</label>
				{% include 'Components/_regions.html.twig' %}
				{% if errors.region %}
					<p class="error">{{ errors.region }}</p>
				{% endif %}
				{{ form.input("city","Ville du goodeal*", "text", "city", "city", errors.city, "ex: Wargnies", data.city) }}
				{{ form.input("zipcode", "Code postal du goodeal*", "text", "zipcode", "zipcode", errors.zipcode, "ex: 59144", data.zipcode) }}
				{{ form.inputNoRequiredNoError("start-date", "Date de début", "date", "start-date", "start-date", "ex: 20/12/2022") }}
				{{ form.inputNoRequiredNoError("end-date", "Date de fin", "date", "end-date", "end-date", "ex: 25/12/2022") }}
				{{ form.input("email", "Ton adresse mail*", "email", "email", "email", errors.email, "ex: florent.dupond@gmail.com", data.email) }}
				{{ form.input("imageupload", "La photo de ton deal", "file", "imageupload", "imageupload", errors.image) }}
				{{ form.textarea("description", "Décris ton deal*", "text", "description", "description", errors.message, "ex: Grand tournoi de pétanque avec plus de 300 paritcipants...", data.description) }}
				<button class="btn" type="submit">Ajoute ton deal</button>
			</form>
		</div>
	</div>
</main>	
{% endblock %}
