<header class="global-header">
	<div class="nav-header">
		<a href="{{ path("app_home") }}" class="title">
			GooDealMap</a>

		<nav class="menu-burger">
			<a id="link" href="#">
				<span id="burger"></span>
			</a>
			<ul class="ul-header">
				<li>
					<a href="{{ path("about_index") }}" class="a-header">Notre concept</a>
				{% if app.user %}
				</li>
				<li>
						<a href="{{ path("app_logout") }}" class="a-header undisplay-responsive">Me déconnecter</a>
					</li>
				<li>
						<a href="" class="a-header undisplay-responsive">Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }} </a>
					</li>
				{% else %}
					<li>
						<a href="{{ path("app_login") }}" class="a-header undisplay-responsive">Me connecter</a>
					</li>
					<li>
						<a href="{{ path("app_register") }}" class="a-header undisplay-responsive">M'inscrire</a>
					</li>
					
					
				{% endif %}
			</ul>
		</nav>
	</div>

	<div class="search">
		<img src="{{ asset('build/images/icons/search-icon.png') }}" alt="search-icon" class="search-icon"/>
		<input class="searchbar" onchange="search_GooDeal()" type="text" id="search" placeholder="Rechercher un GooDeal...">
	</div>
	<a href="{{ path("about_index") }}" class="a-header undisplay-responsive">Notre concept</a>
	{% if app.user %}
		<a href="{{ path("app_logout") }}" class="a-header undisplay-responsive">Me déconnecter</a>
		<a href="" class="a-header undisplay-responsive">Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }} </a>
	{% else %}
		<a href="{{ path("app_login") }}" class="a-header undisplay-responsive">Me connecter</a>
		<a href="{{ path("app_register") }}" class="a-header undisplay-responsive">M'inscrire</a>
	{% endif %}
</header>

{% block javascript %}
	<script src="/assets/javascript/header.js"></script>
{% endblock %}
